@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Patrick+Hand+SC&family=Titillium+Web:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body header {
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, rgb(254, 254, 254) 0%, rgb(181, 204, 230) 100%);
}
body header nav {
  width: 95%;
}
body header nav div a {
  font-family: "Pathway Gothic One", sans-serif;
}
body .mainMaster {
  display: flex;
  justify-content: center;
  background-image: url("../assets/Fondo.jpg");
  height: 629px;
}
body .mainMaster .mainCentrado {
  width: 95%;
  background-color: rgba(80, 80, 80, 0.623);
}
body .mainMaster .mainCentrado .encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
body .mainMaster .mainCentrado .encabezado h3 {
  color: azure;
  font-family: "Pathway Gothic One", sans-serif;
}
body .mainMaster .mainCentrado .rowDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgba(240, 248, 255, 0.148);
}
body .mainMaster .mainCentrado .rowDiv .botones {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 50%;
}
body .mainMaster .mainCentrado .rowDiv .botones .pagar,
body .mainMaster .mainCentrado .rowDiv .botones .productos,
body .mainMaster .mainCentrado .rowDiv .botones .comprar,
body .mainMaster .mainCentrado .rowDiv .botones .precio {
  width: 60%;
  height: 15%;
  display: flex;
  justify-content: center;
}
body .mainMaster .mainCentrado .rowDiv .botones .pagar #productos,
body .mainMaster .mainCentrado .rowDiv .botones .productos #productos,
body .mainMaster .mainCentrado .rowDiv .botones .comprar #productos,
body .mainMaster .mainCentrado .rowDiv .botones .precio #productos {
  width: 55%;
}
body .mainMaster .mainCentrado .rowDiv .botones .pagar select,
body .mainMaster .mainCentrado .rowDiv .botones .pagar .input-group,
body .mainMaster .mainCentrado .rowDiv .botones .productos select,
body .mainMaster .mainCentrado .rowDiv .botones .productos .input-group,
body .mainMaster .mainCentrado .rowDiv .botones .comprar select,
body .mainMaster .mainCentrado .rowDiv .botones .comprar .input-group,
body .mainMaster .mainCentrado .rowDiv .botones .precio select,
body .mainMaster .mainCentrado .rowDiv .botones .precio .input-group {
  width: 80%;
}
body .mainMaster .mainCentrado .rowDiv .botones .pagar button,
body .mainMaster .mainCentrado .rowDiv .botones .productos button,
body .mainMaster .mainCentrado .rowDiv .botones .comprar button,
body .mainMaster .mainCentrado .rowDiv .botones .precio button {
  font-family: "Pathway Gothic One", sans-serif;
}
body .mainMaster .mainCentrado .rowDiv .pagarTotal {
  display: flex;
  justify-content: center;
  width: 50%;
}
body .mainMaster .mainCentrado .rowDiv .pagarTotal .dos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .mainMaster .mainCentrado .rowDiv .pagarTotal .dos #encabezados {
  color: aliceblue;
  display: flex;
  justify-content: center;
  font-family: "Pathway Gothic One", sans-serif;
  margin-top: 10px;
}
body .mainMaster .mainCentrado .rowDiv .pagarTotal .dos .metodosMaster {
  background-color: rgba(240, 240, 240, 0.168);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}
body .mainMaster .mainCentrado .rowDiv .pagarTotal .dos .metodosMaster .metodos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .mainMaster .mainCentrado .rowDiv .pagarTotal .dos .metodosMaster #cuotasDiv {
  width: 31.5%;
  display: flex;
}
body .mainMaster .mainCentrado .rowDiv .pagarTotal .dos .metodosMaster #cuotasDiv #cuotas {
  display: none;
  width: 100%;
  margin-top: 5px;
}
body .mainMaster .mainCentrado .rowDiv .pagarTotal .dos .numeros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body .mainMaster .mainCentrado .rowDiv .pagarTotal .dos .numeros .total {
  width: 75%;
}
body .mainMaster .mainCentrado .rowDiv .pagarTotal .dos .pagar {
  height: 50px;
  font-family: "Pathway Gothic One", sans-serif;
  display: flex;
  justify-content: center;
}
body .mainMaster .mainCentrado .rowDiv .pagarTotal .dos .vaciar {
  height: 50px;
  font-family: "Pathway Gothic One", sans-serif;
  display: flex;
  justify-content: space-evenly;
}
body .mainMaster .mainCentrado .hideTable {
  display: flex;
}
body .mainMaster .mainCentrado .modalShow {
  opacity: 1;
  pointer-events: unset;
  transform: translateY(0);
}
body .mainMaster .mainCentrado .modalHide {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100vh);
}
body .mainMaster .mainCentrado #modal__ {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  transition: all 0.4s;
  background-color: rgba(0, 0, 0, 0.194);
}
body .mainMaster .mainCentrado #modal__ .modal__container {
  margin: auto;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  background: rgb(239, 239, 239);
  border-radius: 6px;
  padding: 1em 1.5em;
  display: grid;
  gap: 10px;
  grid-auto-columns: 100%;
}
body .mainMaster .mainCentrado #modal__ .modal__close {
  width: 4.4em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(167, 167, 167);
  padding: 10px 12px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  transition: all 0.2s;
}
body .mainMaster .mainCentrado #modal__ .modal__close:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(1, 1, 1);
}/*# sourceMappingURL=style.css.map */